*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#141e30,#243b55);
}

.container{
    text-align:center;
    color:white;
}

h1{
    margin-bottom:20px;
    font-size:40px;
}

.board{
    width:330px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    margin:20px auto;
}

.cell{
    width:100px;
    height:100px;
    background:white;
    color:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    font-weight:bold;
    cursor:pointer;
    border-radius:10px;
    transition:0.3s;
}

.cell:hover{
    background:#f1f1f1;
    transform:scale(1.05);
}

#status{
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#00c6ff;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0072ff;
}